#Dead
{
    -fx-background-color: lightgrey;
    -fx-pref-width: 50;
    -fx-max-height: 600;
}

#ChessBoard
{
    /*-fx-background-color: SaddleBrown;*/
    /*-fx-hgap: 5;*/
    /*-fx-vgap: 5;*/
}

#ChessBoard:hover
{

}


#square
{

}

#square:hover
{

}

#turn
{
    -fx-font-style: italic ;
    -fx-font-size: 20;
}

BorderPane
{
    -fx-background-color: white;
    -fx-alignment: center;
}

.button
{
    /*AntiqueWhite*/
    -fx-background-color: DarkGray;
    -fx-background-radius: 90;
    -fx-alignment: center;
    -fx-font-style: italic ;
    -fx-font-size: 30;
    -fx-padding: 20;
}

.button:hover
{
    -fx-background-color: black;
    -fx-color: blue;
    -fx-border-insets: 10;
    -fx-border-radius: 10;
}

#label
{
    -fx-alignment: center;
    -fx-font-style: italic ;
    -fx-font-size: 20;
    -fx-padding: 10;
}